<script >
    $(document).ready(function(){
          const { ipcRenderer } = require('electron')       
          let valor=false
          $('#contenedor_central').load('../template/pages/tabla.html');
    alert("se a enviado a iterar")
   
    ipcRenderer.send("listarentabla");
      document.querySelector("#listarfarmacos").addEventListener("click", (event)=>{
    event.preventDefault();
    ipcRenderer.send("listarentabla");
       var oTable = $('#dataTable').dataTable();
      oTable.fnDestroy();
    
    })
  
        
        ipcRenderer.on('listarentabla_main', (event,dat) => {

     
      $('#dataTable').DataTable({
    "data": dat
    , "columnDefs": [ {
         "targets": -1,
         "data": null,
         "defaultContent": "<button>Click!</button>"
     } ],
    "columns": [
        { "data": "name" },
        { "data": "description" },
        { "data": "precioXU" },
        { "data": "cantidaXL" },
        { "data": "precioXL" },
        { "data": "fecha_c" },
        { "defaultContent": "<button type='button' class='btn btn-danger center-block'><i class='fas fa-trash-alt'></i></button>" },
        { "defaultContent": "<button type='button' class='btn btn-danger center-block'><i class='far fa-edit'></i></button>" }
      ],
  

    }); 
    valor=true
    })
    
    
      
     
        
      })
    </script>