<div class="col-md-12">
    <div class="card " id="FarmacosList">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            lista de Farmacos en existencia
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>description</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>description</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                    <tbody id="tablabody" >


                       
                    </tbody>
                </table>
            </div>
        </div>
  
    </div>
</div>