 <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Farmacia</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Farmacia</li>
                        </ol>
                        <div class="row" id="contenedor_central">
                       



                            </div>
                    
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Elaborado por Ing. Leonel Torrez Salgado 
                                
                            </div>
                        </div>
                    </div>
                </footer>
            </div>